
.home--background {
    background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/background.png) no-repeat center; 
    background-size: cover;
    height: 960px; 
    @media only screen and (max-width: 991px){
      background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/background.png) no-repeat right;
    }
   
  }
  .blog {
    &--background {
      background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/blogg.PNG) no-repeat right;
      width: auto;
      height: 1007.64px;
      position: relative;
      z-index: 1;
    }
    &--pic {
      width: 336px;
      height: 249px;
    }
  }
  .testimony--background {
    background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/test.PNG) no-repeat left top; 
    height: 562px;
    @media only screen and (max-width: 768px){
      background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/test.PNG) no-repeat center top;
    }
    
  }
  .footer--dot{
    height: 346px;
    width: 292px;
    margin-left: -160px;
    margin-top: -220px;
    position: absolute;
    @media only screen and (max-width: 1366px){
      margin-top: -210px;
      margin-left: -180px;
     
      height:300px;
      
    }
    @media only screen and (max-width: 1024px){
      margin-top: -210px;
      margin-left: -230px;
      z-index: -1;
      height:300px;
      
    }
    @media only screen and (max-width: 768px){
      margin-top: -199px;
      margin-left: -260px;
      z-index: -1;
      
    }
    @media only screen and (max-width: 420px){
      margin-top: -199px;
      margin-left: -260px;
      z-index: -1;
      
    }
    @media only screen and (max-width: 360px){
      margin-top: -180px;
      margin-left: -260px;
      z-index: -1;
      
    }
  }
  .footer--background {
    background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/testimony_back2.PNG) no-repeat center; 
    background-size: contain;
    padding-top: 90px;
    @media only screen and (max-width: 1365px){
      margin-top: -60px;
    }
    @media only screen and (max-width: 1024px){
      margin-top: -60px;
    }
    @media only screen and (max-width: 768px){
      background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/testimony_back2.PNG) no-repeat left;
      margin-top: 0px;
    }
    @media only screen and (max-width: 420px){
      margin-top: -30px;
      
    }
    @media only screen and (max-width: 360px){
      margin-top: 40px;
      
    }
    
  }
  .myservice--background {
    background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/service.PNG) no-repeat right; 
    height: 346px;
    width: 292px;
    margin-left: 999px;
    margin-top: -440px;
    position: absolute;
    z-index: -5;
    @media only screen and (max-width: 1366px){
      margin-left: 930px;
      margin-top: -470px;
    }
   
    @media only screen and (max-width: 1024px){
      margin-left: 680px;
      margin-top: -480px;
      width:300px;
    }
    @media only screen and (max-width: 768px){
      margin-left: 460px;
      margin-top: -490px;
      height: 300px;
    }
    @media only screen and (max-width: 420px){
      height: 246px;
      width: 220px;
      margin-left: 219px;
      margin-top: -362px;
    }
    @media only screen and (max-width: 360px){
      margin-left: 164px;
    }
    
    
  }
  .about {
    &--pic {
      width: 390px;
      height: auto;
      @media only screen and (max-width: 1365px){
        width: 362.43px;
      }
      @media only screen and (max-width: 1024px){
        width: 285.43px;
        
      }
      @media only screen and (max-width: 768px){
        width: 285.43px;
        margin-left: 55px;
        
      }
      @media only screen and (max-width: 420px){
        width: 265px;
        
      }
      @media only screen and (max-width: 360px){
        width: 285.43px;
        
      }
    }
    &--dot {
      background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/boy_write_back.png) no-repeat right;
      width: 200px;
      height: 188.97px;
      @media only screen and (max-width: 1365px){
        background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/boy_write_back.png) no-repeat top right;
        width: 60.91px;
        height: auto;
      }
      @media only screen and (max-width: 1024px){
        background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/boy_write_back.png) no-repeat top right;
        width: auto;
        height: auto;
        
      }
      @media only screen and (max-width: 768px){
        background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/boy_write_back.png) no-repeat top right;
        width: auto;
        height: auto;
        
      }
      @media only screen and (max-width: 420px){
        background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/boy_write_back.png) no-repeat top right;
        width: auto;
        height: auto;
        
      }
      @media only screen and (max-width: 360px){
        background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/boy_write_back.png) no-repeat top right;
        width: auto;
        height: auto;
        
      }
    }
    &--ring {
      width: 161.58px;
      height: 161.58px;
      position: absolute;
      margin-left: 325px;
      margin-top: -43px;
      z-index: 2;
      @media only screen and (max-width: 1366px){
        margin-left: 250px;
        margin-top: -40px;
      }
      
      @media only screen and (max-width: 1024px){
        width: 138.58px;
        height: 138.58px;
        margin-left: 190px;
        margin-top: -20px;
      }
      @media only screen and (max-width: 768px){
        margin-left: 60px;
        margin-top: -25px;
      }
      @media only screen and (max-width: 420px){
        width: 120.58px;
      height: 120.58px;
      margin-left: 35px;
      margin-top: -20px;
      }
      @media only screen and (max-width: 360px){
        width: 120.58px;
      height: 120.58px;
      margin-left: -2px;
      margin-top: -20px;
      }
    }
  }
  .form--bg {
    background: url(https://bayzid-himel04.github.io/agency-landing-page/assets/image/form2.png) no-repeat center top;
    margin-top: -60px;
    @media only screen and (max-width: 1365px){
      margin-top: -40px;
    }
    @media only screen and (max-width: 1024px){
      margin-top: -40px;
    }
    @media only screen and (max-width: 768px){
      margin-top: 50px;
    }
    @media only screen and (max-width: 420px){
      margin-top: 1000px;
      
    }
    @media only screen and (max-width: 360px){
      margin-top: 1100px;
      
    }
  }
  .padding{
    @media only screen and (max-width: 768px){
      margin: 30px;
      margin-left: 75px;
      justify-content: center;
     }
     @media only screen and (max-width: 1024px){
      padding-left: 5px;  
     }
    @media only screen and (max-width: 420px){
      padding:5px;
      
    }
    @media only screen and (max-width: 360px){
      padding:5px;
      
    }
  }
 .top{
   margin-top:280px;
  @media only screen and (max-width: 1366px){
    margin-top:290px;
  }
  @media only screen and (max-width: 1024px){
   margin-top:280px;
  }
  @media only screen and (max-width: 768px){
    margin-top:200px;
  }
  @media only screen and (max-width: 420px){
   margin-top: 100px;
    
  }
  @media only screen and (max-width: 360px){
   margin-top:50px;
    
  }
 
 }